{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}


{% block content%}

	<div class="jumbotron">
		<h1 class="display-4">Administration</h1>
		<p class="lead">Bienvenue dans l'interface d'administartion</p>
	</div>

	{#<div class="container">
									<h1 classe="title p-1">{{article.designation}}</h1>
									<div class="img-fluid">
										<img src="{{article.image}}" alt="{{article.designation}}">
									</div>
									<div class="content">
										<p class="date">Ecrit le
											{{ article.createdAt | date("d/m/Y")}}
											à
											{{ article.createdAt | date("H:m")}}</p>
										<h2 class="title">{{ article.designation }}</h2>
										<p class="content text-justify">{{article.content}}</p>
									</div>
							
								</div>#}
{% endblock %}
